body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    background-color: #49DCB1;
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
  
  nav li {
    height: 100%;
  }
  
  nav li a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #FFF;
    text-decoration: none;
    height: 100%;
  }
  
  nav li.active a {
    background-color: #49BEAA;
  }
  
  nav li a:hover {
    background-color: #49BEAA;
  }

.redBack{
    color: #ef767a;
}

p{
    background:#EEB868;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.musturd{
    background: #EEB868;
}
.lapiz{
    background: #456990;
}
.keppel{
    background: #49BEAA;
}
.turq{
    color: #49DCB1;
}
.pad{
    padding-left: 10px;
    padding-right: 10px;
}
